.label {
  font-size: 1vw;
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 5.2vw;
  border: 0.08em solid black;
  background-color: transparent;
  border-radius: 35px;
  padding: 3% 5%;
  outline: none;
  position: relative;
  text-align: center;
  font-family: var(--font-basic);
  font-size: var(--font-size-small);
  font-weight: 300;
  color: black;
  margin-bottom: 1vw;
  box-sizing: border-box;
  transition: all 0.1s linear;
}
.input::placeholder {
  color: black;
}

.input:focus {
  color: rgba(0, 0, 0, 0.7);
  font-size: calc(var(--font-size-small) * 0.9);
}

.input:focus::placeholder {
  color: rgba(0, 0, 0, 0.7)!important;
}

.inputError {
  border: 0.08em solid var(--color-error);
}

.errorMessage {
  background-color: var(--color-error);
  color: var(--color-white);
  position: absolute;
  top: 100%;
  left: 5%;
  width: 90%;
  padding: 2%;
  z-index: 5;
  box-sizing: border-box;
  font-size: var(--font-size-body);
  font-family: var(--font-basic);
  border-radius: 3px;
  border-radius: 12px;
  text-align: center;
}

.errorMessage::before {
  content: '';
  border: 0.5em var(--color-error) solid;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -35%;
  left: 51.95%;
}

.errorMessage::after {
  content: '';
  border: 0.5em var(--color-error) solid;
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -35%;
  left: 48.15%;
}

@media screen and (max-width: 460px) {
  .input {
    height: 9vw;
    margin-bottom: 3vw;
  }
}