.button {
  position: relative;
  border: none;
  outline: none;
  width: 3.3vw;
  height: 2.5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin:0;
  padding:0;
  z-index: 100;
}

.input:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 10%;
  background-color: var(--color-peach);
}

.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  transition: transform 0.2s ease-in-out;
}

.line3 {
  transition: transform 0.4s ease-in-out;
  transform-origin: 0% 100%;
}

.input:checked ~ .line1 {
  transform: rotate(45deg);
}

.input:checked ~ .line2 {
  transform: scaleY(0);
}

.input:checked ~ .line3 {
  transform: rotate(-45deg);

}

@media screen and (max-width: 480px) {
  .button {
    width: 6.6vw;
    height: 5vw;
  }
}