.logoContainer {
  position: fixed;
  top: 14rem;
  left: 40rem;
  width: 29rem;
  height: 31rem;
  z-index: 10;
}
.logoContainer:hover {
  cursor: pointer;
}

.contactsContainer {
  position: fixed;
  bottom: 23rem;
  left: 40rem;
  z-index: 10;
}

.burgerButtonContainer {
  display: none;
  position: fixed;
  top: 20rem;
  right: 24rem;
  z-index: 102;
}

.contactsBarContainer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

}

.contactsBarContainer {
  display: none;
  position: fixed;
  bottom: -70rem;
  width: 100%;
  transition: 0.35s ease-out bottom;
}

.isShown {
  bottom: 0;
}

@media screen and (max-width: 480px) {

  .logoContainer {
    top: 20rem;
    left: 24rem;
    width: 24rem;
    height: 25rem;
  }

  .contactsContainer {
    display: none;
  }

  .burgerButtonContainer {
    display: block;
  }

  .contactsBarContainer {
    display: block;
  }
}